@model IEnumerable<Lab2_G20.Models.GrowthHistory>

@{
    ViewBag.Title = "Growth History";
}

<br>
<h1>Growth History</h1>
<br>
<!-- List of GrowthHistory records -->
<table class="table">
    <thead>
        <tr>
            <th>Crop Type</th>
            <th>Date Recorded</th>
            <th>Growth Stage</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Crop.CropType</td>
                <td>@item.DateRecorded.ToShortDateString()</td>
                <td>@item.GrowthStage</td>
                <td>@item.Notes</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>

<div>
    <a asp-action="Create" class="btn btn-primary">Add New Growth Event</a>
</div>
